.cart-card {
  margin-bottom: 16px;
  border-radius: 8px;
  padding: 12px;
}

.cart-card-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

/* Checkbox custom */
.cart-checkbox .ant-checkbox-inner {
  border: 2px solid #ff6431; 
  border-radius: 4px; 
  width: 18px;
  height: 18px;
  transition: all 0.3s ease;
}


.cart-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ff6431 !important;
  border-color: #ff6431 !important;
}

/* Checkmark color */
.cart-checkbox .ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: #fff !important;
}


.cart-checkbox:hover 
.ant-checkbox-inner {
  border-color: #ff6431 !important;
  box-shadow: 0 0 4px rgba(255, 100, 49, 0.4);
}


.cart-checkbox 
.ant-checkbox-input:focus + 
.ant-checkbox-inner {
  border-color: #ff6431 !important;
  box-shadow: 0 0 0 2px rgba(255, 100, 49, 0.2);
}


.cart-card-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 8px;
  background: #f9f9f9;
  flex-shrink: 0;
}

.cart-card-details {
  flex: 1;
  min-width: 200px;
}

.cart-card-title {
  display: block;
}

.cart-card-category {
  display: block;
  margin-top: 4px;
  color: #888;
}

.cart-card-stock {
  display: block;
  margin-top: 4px;
}

.cart-card-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  min-width: 120px;
  margin-left: auto;
}

.cart-card-price {
  font-size: 16px;
  color:#ff6431;
}


.qty-btn {
  border: 1px solid #ff6431;
  background-color: #fff;
  color: #ff6431;
  transition: all 0.3s ease;
  border-radius: 6px; 
  padding: 0 12px; 
}


.qty-btn:hover {
  background-color: #ff6431 !important;
  color: #fff !important;
  border-color: #ff6431 !important;
}


.qty-btn:disabled {
  border-color: #d9d9d9;
  background-color: #f5f5f5;
  color: #bfbfbf;
  cursor: not-allowed;
}



@media (max-width: 600px) {
  .cart-card-row {
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .cart-checkbox{
    position: absolute;
    top: 8px;
    left: 8px;
  }

  .cart-card-right {
    align-items: center;
    margin-left: 0;
    margin-top: 8px;
  }
}
